<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hscloud.hs.cost.account.mapper.second.AttendanceMapper">
    <resultMap id="attendanceMapper" type="com.hscloud.hs.cost.account.model.entity.second.Attendance">
    </resultMap>

    <!--不带租户查询 -->
    <select id="listByTypeDept" resultMap="attendanceMapper">
        SELECT a.* FROM cost_attendance a
            join cost_unit_relate_info b on a.account_unit_id = b.account_unit_id and b.type='dept'
                 WHERE cycle = #{cycle} and a.del_flag =0
    </select>
</mapper>

