<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hscloud.hs.cost.account.mapper.AdsIncomePerformanceLogisticsExtraMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hscloud.hs.cost.account.model.pojo.AdsIncomePerformanceLogisticsExtra">
        <result column="account_period" property="accountPeriod" />
        <result column="account_unit_id" property="accountUnitId" />
        <result column="rylb" property="rylb" />
        <result column="account_unit_name" property="accountUnitName" />
        <result column="bm" property="bm" />
        <result column="xm" property="xm" />
        <result column="qt" property="qt" />
        <result column="bz" property="bz" />
        <result column="cqts" property="cqts" />
        <result column="cqxs" property="cqxs" />
        <result column="gwjx" property="gwjx" />
        <result column="xs" property="xs" />
        <result column="khdf" property="khdf" />
        <result column="yyjf" property="yyjf" />
        <result column="jxgzhj" property="jxgzhj" />
        <result column="bs" property="bs" />
        <result column="es" property="es" />
    </resultMap>

</mapper>
