<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hscloud.hs.cost.account.mapper.AdsIncomePerformanceClinicalNurMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hscloud.hs.cost.account.model.pojo.AdsIncomePerformanceClinicalNur">
        <result column="dt" property="dt" />
        <result column="order_id" property="orderId" />
        <result column="employee_type" property="employeeType" />
        <result column="account_unit_type" property="accountUnitType" />
        <result column="account_unit_id" property="accountUnitId" />
        <result column="account_unit_nur" property="accountUnitNur" />
        <result column="dep_perf_score" property="depPerfScore" />
        <result column="regist_num_nur" property="registNumNur" />
        <result column="attendance_num_nur" property="attendanceNumNur" />
        <result column="per_att_perf_score" property="perAttPerfScore" />
        <result column="perf_point" property="perfPoint" />
        <result column="support_perf" property="supportPerf" />
        <result column="perfor_perf" property="perforPerf" />
        <result column="workload_perf" property="workloadPerf" />
        <result column="nur_vertical_perf" property="nurVerticalPerf" />
        <result column="reward_punish" property="rewardPunish" />
        <result column="assessment_score" property="assessmentScore" />
        <result column="perf_total" property="perfTotal" />
        <result column="perf_80" property="perf80" />
        <result column="perf_20" property="perf20" />
        <result column="perf_per_reg" property="perfPerReg" />
        <result column="perf_per_att" property="perfPerAtt" />
    </resultMap>

</mapper>
